.menu-servicios {
    height: 100px;
    font-size: 1rem;
    background-color: rgb(251, 237, 237);
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

h1 {
    text-align: center;
}

#imagen-arba,
#imagen-aysa,
#imagen-edenor,
#imagen-naturgy,
#imagen-telecentro {

    width: 100px;
    margin: 100px;

}


.servicios-titulo {
    background-color: burlywood;
    margin: 20px;
    padding: 5px;
    text-align: center;
}

.servicios-titulo img {


    height: 150px;


}